.project-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px 0;
    border-bottom: 1px solid #1a1a1a;
    transition: var(--transition);
    cursor: pointer;
}

.project-item:hover {
    background-color: var(--bg-accent);
    padding-left: 20px;
    padding-right: 20px;
    border-radius: 10px;
    border-bottom-color: transparent;
}

.project-info h3 {
    font-size: 1.8rem;
    font-weight: 600;
    margin-bottom: 5px;
}

.project-info p {
    color: var(--text-muted);
    margin-bottom: 10px;
    max-width: 600px;
}

.project-tech {
    font-family: var(--font-mono);
    font-size: 0.8rem;
    background-color: #1a1a1a;
    padding: 5px 10px;
    border-radius: 4px;
    color: var(--text-color);
}

.project-arrow {
    padding-top: 15px;
    color: #333;
    transition: var(--transition);
}

.project-item:hover .project-arrow {
    color: var(--accent-color);
    transform: translateX(10px);
}

.project-item:hover .project-arrow:hover {
    color: var(--text-color);
}

.project-img-more{
    display: none;
    width: 500px;
}

.project-item.more {
    display: block;
    .project-img{
        display: none;
    }
    .project-img-more{
        display: grid;
        width: auto;
        grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
        gap: 10px;
        img{
            width: 100%;
        }

    }
}

.project-img img{
    width: 500px;
}

