.project-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px 0;
    border-bottom: 1px solid #1a1a1a;
    transition: var(--transition);
}

.project-item:hover {
    background-color: var(--bg-accent);
    padding-left: 20px;
    padding-right: 20px;
    border-radius: 10px;
    border-bottom-color: transparent;
}

.project-info h3 {
    font-size: 1.8rem;
    font-weight: 600;
    margin-bottom: 5px;
}

.project-info p {
    color: var(--text-muted);
    margin-bottom: 10px;
    max-width: 600px;
}

.project-tech {
    font-family: var(--font-mono);
    font-size: 0.8rem;
    background-color: #1a1a1a;
    padding: 5px 10px;
    border-radius: 4px;
    color: var(--text-color);
}

.project-arrow {
    padding-top: 15px;
    color: #333;
    transition: var(--transition);
    border: none;
    background: none; 
}

.project-item:hover .project-arrow {
    color: var(--accent-color);
    transform: translateX(10px);
}

.project-item:hover .project-arrow:hover {
    color: var(--text-color);
}

.project-img-more{
    display: none;
    width: 500px;
}

.project-item.more {
    display: block;
    .container{
        padding: 50px 20px;
    }
    .project-img{
        display: none;
    }
    .project-img-more{
        display: grid;
        width: auto;
        grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
        gap: 10px;
        img{
            width: 100%;
            cursor: pointer;
            transition: transform 0.2s ease;
            &:hover {
                transform: scale(1.03); // Petit effet visuel au survol
            }
        };
    }
    .lecteur-overlay {
        position: fixed;
        top: 0;
        left: 0;
        width: 100vw;
        height: 100vh;
        background-color: rgba(0, 0, 0, 0.85); // Noir transparent
        z-index: 9999; // Au-dessus de tout le reste
        display: flex;
        justify-content: center;
        align-items: center;
        animation: fadeIn 0.3s ease;
    };
    .image-agrandie {
        max-width: 90%;
        max-height: 85%;
        border-radius: 4px;
        box-shadow: 0 5px 25px rgba(0,0,0,0.5);
        object-fit: contain;
    };
    .bouton-fermer {
        position: absolute;
        top: 20px;
        right: 35px;
        color: #fff;
        font-size: 40px;
        font-weight: bold;
        cursor: pointer;
    };
    @keyframes fadeIn {
        from { opacity: 0; }
        to { opacity: 1; }
    }
}


.project-img img{
    width: 500px;
}

@media (max-width: 768px) {
    .project-info h3 { font-size: 1.4rem; };
    .project-item {
        flex-direction: column;
        align-items: flex-start;
    }
    .project-img img{
        width: 100%;
        margin-bottom: 20px;
    }
}